:host {
  width: 21px;
  cursor: pointer;
  opacity: .8;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1150px) {
  :host {
    width: 23px;
  }
}

:host(:hover) {
  transform: scale(1.05);
}

:host {
  filter: var(--dark-mode-filter);
}
