:host {
  font-family: Roboto, sans-serif;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 100%;
  --text-color: #040404;
  --background-color: #fff;
  --border-color: #c8c8c8;
  --item-bg: #fff;
  --instance-bg: linear-gradient(0deg, #f7feff, #fff 70%);
  --instance-bg-hover: linear-gradient(0deg, #d6fcff, #fff 90%);
  --instance-border: #91a8c1;
  --instance-border-hover: #91a8c1;
  --sidebar-bg: #fff;
  --discoveries-bg-active: linear-gradient(0deg, #e4d9ff 0%, #fff 50%);
  background: #fff;
  background: var(--background-color);
  color: #040404;
  color: var(--text-color);
}

:host(.dark-mode) {
  --border-color: #d1d1d1;
  --item-bg: #000;
  --instance-bg: linear-gradient(180deg, #22252b, #000 80%);
  --instance-bg-hover: linear-gradient(180deg, #516772, #131313 80%);
  --instance-border: #dcdcdc;
  --instance-border-hover: #c7e0ff;
  --sidebar-bg: #000;
  --background-color: #000;
  --discoveries-bg-active: #423a24;
  --text-color: #fff;
}

:host(.dark-mode::ng-deep) img {
  filter: invert(1);
}
