:host {
  width: 21px;
  cursor: pointer;
}

@media screen and (min-width: 1150px) {
  :host {
    width: 22px;
  }
}

:host(:hover) {
  transform: scale(1.05);
}

:host {
  /* TODO */
  display: flex;
}
