:host {
  margin: 4px;
  cursor: pointer;
  padding: 8px 8px 7px;
  border-radius: 5px;
  display: inline-block;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: 1px solid var(--border-color);
  transition: background 0.15s linear;
  background: var(--item-bg);
  line-height: 1em;
  contain: layout style paint;
}

:host {
  font-size: 15.4px;
}

:host(.is-delete-mode) {
  contain: layout style;
  position: relative;
}

:host(.is-delete-mode:hover) {
  background: 0 0;
  border: 1px solid #c8c8c8;
  cursor: auto;
}

:host(.instance) {
  position: fixed;
  font-size: 18px;
  padding: 11px 10px 10px;
  transition: scale 0.15s ease-in;
  border-radius: 5px;
  transform-origin: center center;
  display: flex;
  align-items: center;
  contain: layout;
  border: 1px solid var(--instance-border);
  background: var(--instance-bg);
}

@media screen and (min-width: 1150px) {
  :host(.instance) {
    font-size: 19.5px;
    padding: 11px 11px 10px;
  }
}

@media screen and (max-width: 800px) {
  :host(.instance) {
    min-height: 34px;
    line-height: 34px;
    font-size: 16px;
  }
}

:host(.instance-selected) {
  background: var(--instance-bg-hover);
  border: 1px solid var(--instance-border-hover);
}

:host(.instance-hover) {
  scale: 1.04;
  background: var(--instance-bg-hover);
  border: 1px solid var(--instance-border-hover);
}

:host(.instance-disabled) {
  pointer-events: none;
  opacity: 0.7;
  transition: 0.15s linear;
  animation: pulse 0.8s ease-in-out 0.15s infinite alternate-reverse;
}

:host(.instance-disabled:after) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

:host(.is-delete-mode.item-hidden) {
  opacity: 0.35;
}

@media screen and (min-width: 1150px) {
  font-size: 16.4px;
  padding: 9px 10px 8px;
}

@media screen and (max-width: 800px) {
  :host {
    width: auto;
    min-height: 32px;
    grid-gap: 5px;
    line-height: 32px;
    font-size: 15px;
    padding: 1px 9px 0;
    border: 1px solid #9f9f9f;
    color: var(--text-color);
    transition: background 0.1s linear;
    touch-action: manipulation;
  }
}

@media screen and (max-width: 800px) {
  :host {
    white-space: nowrap;
  }
}

@media (hover: hover) {
  :host(:hover) {
    background: var(--instance-bg-hover);
    border: 1px solid var(--instance-border-hover);
  }
}

@keyframes pulse {
  0% {
    opacity: 0.2;
  }

  to {
    opacity: 0.7;
  }
}

@media screen and (max-width: 800px) {
  /* TODO */
  :host(.instance) {
    line-height: 17px;
  }
}
