:host {
  position: absolute;
  right: -6px;
  top: -6px;
  width: 17px;
  height: 17px;
  background-color: #22252b;
  border-radius: 100%;
  background-image: url(../../assets/images/svgs/close-white.svg);
  background-size: 13px 13px;
  background-position: 2px 2px;
  background-repeat: no-repeat;
  font-size: 12px;
  cursor: pointer;
}

:host(.dark-mode) {
  background-color: #fff;
  background-image: url(../../assets/images/svgs/close.svg);
}

:host(:hover) {
  transform: scale(1.07);
}
