:host {
  pointer-events: none;
  position: fixed;
  right: calc(var(--sidebar-width) + 13px);
  top: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  width: 80px;
}

@media screen and (min-width: 1150px) {
  :host {
    width: 86px;
  }
}

@media screen and (max-width: 800px) {
  :host {
    left: auto;
    position: absolute;
    right: 10px;
    top: 10px;
  }
}

:host {
  filter: var(--dark-mode-filter);
}

:host {
  /* TODO */
  display: flex;
}
