img {
  position: fixed;
  width: 130px;
  height: 130px;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 1;
  animation: pinwheelSpin 2s linear infinite;
  transform-origin: center center;
}

@media screen and (min-width: 1150px) {
  img {
    width: 145px;
    height: 145px;
  }
}

@keyframes pinwheelSpin {
  to {
    rotate: 90deg;
  }
}

:host {
  /* TODO */
  position: absolute;
  display: grid;
  place-items: center;
}
