:host {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 1fr 40px;
  text-align: center;
  grid-gap: 4px;
  justify-content: center;
  margin: 0 auto;
  padding: 0 8px;
}

:host {
  /* TODO */
  height: 32px;
}
