:host {
  bottom: 7px;
  display: flex;
  position: fixed;
  right: calc(var(--sidebar-width) + 13px);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  grid-gap: 19px;
  z-index: 3;
}

@media screen and (min-width: 1150px) {
  :host {
    right: 361px;
  }
}

@media screen and (max-width: 800px) {
  :host {
    bottom:188px;
    right: 8px;
    grid-gap: 15px;
  }
}
