:host {
  padding: 7px 0;
  background: var(--background-color);
}

img {
  height: 13px;
  line-height: 0;
  position: relative;
  top: 2px;
  margin-right: 1px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
}

img {
  filter: var(--dark-mode-filter);
}
