:host {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 13px;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: var(--sidebar-bg);
}

:host(:after) {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 100%;
  height: 30px;
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .9));
  pointer-events: none;
  opacity: 0;
  transition: opacity .15s linear;
}

:host(.dark-mode:after) {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
}

:host(.fade-show:after) {
  opacity: 1;
}

:host {
  /* TODO */
  display: block;
}

@media screen and (max-width: 800px) {
  :host {
    display: none;
  }
}
