img {
  position: absolute;
  transform: translateY(-50%);
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

img {
  right: 10px;
  top: calc(50% + 1px);
  cursor: pointer;
  opacity: .45;
  width: 15px
}

@media screen and (min-width: 1150px) {
  :host {
    width: 18px;
    right: 12px
  }
}

:host {
  filter: var(--dark-mode-filter);
}
