:host {
  background: var(--sidebar-bg);
  border-left: 1px solid var(--border-color);
  contain: strict;
  height: 100vh;
  overflow-x: visible;
  overflow-y: scroll;
  position: fixed;
  right: 0;
  top: 0;
  transition: width .05s ease;
  z-index: 10;
}

@media screen and (max-width: 800px) {
  :host {
    border-left: none;
    border-top: 1px solid #9f9f9f;
    bottom: 0;
    height: 183px;
    overflow-x: scroll;
    overflow-y: hidden;
    top: auto;
    width: 100% !important;
  }
}
