:host {
  align-items: center;
  background: var(--background-color);
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  font-size: 14px;
  height: 32px;
  justify-content: center;
  transform: translateY(1px);
}

:host(:hover) {
  background: var(--instance-bg-hover);
}

:host(.active) {
  background: var(--instance-bg-hover);
}

img {
  height: 13px;
  margin-right: 5px;
}

img {
  line-height: 0;
  pointer-events: none;
}

img {
  margin-right: 0;
  transform: scale(1.2);
}

img {
  filter: var(--dark-mode-filter);
}

:host(.active) img {
  animation: trashIconAnimate .5s ease-in-out infinite alternate-reverse;
}

@keyframes trashIconAnimate {
  0% {
    rotate: -5deg;
  }
  to {
    rotate: 5deg;
  }
}
