:host {
  bottom: 0;
  margin-top: 20px;
  position: sticky;
  width: 100%;
  z-index: 2;
}

:host(:before) {
  background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 60%);
  content: "";
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  top: -50px
}

:host(.dark-mode:before) {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9) 60%);
}

:host(.dark-mode:after) {
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .9));
}

:host(.fade-show:after) {
  opacity: 1;
}

:host {
  /* TODO */
  display: block;
}

@media screen and (max-width: 800px) {
  :host {
    display: none;
  }
}
