:host {
  position: fixed;
  bottom: 190px;
  right: 10px;
  display: none;
  grid-gap: 14px;
}

@media screen and (max-width: 800px) {
  :host {
    display: flex;
  }
}

:host {
  filter: var(--dark-mode-filter);
}

:host {
  /* TODO */
  height: 20.45px;
}
