:host {
  border-top-left-radius: 10px;
}

:host {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

:host(:hover) {
  background: var(--instance-bg-hover);
}

img {
  height: 13px;
  margin-right: 5px;
}

img {
  line-height: 0;
  pointer-events: none;
}

:host {
  /* TODO */
  text-transform: capitalize;
}
