:host {
  width: 21px;
  cursor: pointer;
  opacity: 0.8;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

:host {
  transform: scale(0.92);
}

@media screen and (min-width: 1150px) {
  :host {
    width: 23px;
  }
}

:host(:hover) {
  transform: scale(1.05);
}

:host {
  /* TODO */
  display: flex;
}
