:host {
  width: 19px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media screen and (min-width: 1150px) {
  :host {
    width: 20px;
  }
}

:host(:hover) {
  transform: scale(1.05);
}

:host(.active) {
  animation: sway 0.3s linear infinite alternate-reverse;
}

@keyframes sway {
  0% {
    rotate: -6deg;
  }
  to {
    rotate: 6deg;
  }
}

:host {
  /* TODO */
  display: flex;
}
